certifi==2025.10.5
charset-normalizer==3.4.4
geojson2osm==0.0.1
idna==3.11
iniconfig==2.3.0
numpy==2.3.4
osmium==4.1.1
packaging==25.0
pandas==2.3.3
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.2
python-dateutil==2.8.2
pytz==2025.2
requests==2.32.5
shapely==2.1.2
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
xmltodict==1.0.2
